body {
  background-color: black;
  color: white;
}

.loading {
  display: flex;
  justify-content: center;
  height: 200px;

  .loader {
    position: relative;
    margin: 0 auto;
    width: 80px;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }

  @keyframes color {
    100%,
    0% {
      stroke: $celest;
    }
    40% {
      stroke: white;
    }
    66% {
      stroke: $celest;
    }
    80%,
    90% {
      stroke: white;
    }
  }
}

.hidden {
  visibility: hidden;
}

.small-text {
  font-size: 12px;
}

button:focus { outline: 0; }

.group:after {
  content: "";
  display: table;
  clear: both;
}


::-webkit-scrollbar {
  position: absolute;
  float: right;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: $darkGray;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
