.header {
  z-index: 10;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-left: 30px;
    border: 0;
    padding: 10px 0;
    width: 120px;
    height: 100%;
    cursor: pointer;
  }

  .search {
    font-family: Roboto;

    input[type=text] {
      width: 30px;
      height: 30px;
      border: none;
      box-sizing: border-box;
      font-size: 18px;
      background-color: transparent;
      background-image: url("http://res.cloudinary.com/kwokeric/image/upload/v1478235742/search_icon_pys8l1.png");
      background-position: 5px 5px;
      background-size: 20px;
      background-repeat: no-repeat;
      padding-left: 40px;
      padding-top: 2px;
      color: white;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
      cursor: default;

      &:focus {
        width: 350px;
        border-bottom: 1px solid $celest;
        letter-spacing: 2px;
        outline: 0;
      }
    }
  }
}

.user-display {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin-right: 60px;
  color: white;
  letter-spacing: 3px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  position: relative;

  .thumbnail {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
  }

  .username {
    padding: 0 20px;
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: normal;
    float: right;
    text-align: right;
    cursor: pointer;
    font-family: Roboto;
  }

  .username-hover {
    color: $celest;
    cursor: pointer;
  }

  .icon-div {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url("http://res.cloudinary.com/kwokeric/image/upload/v1478277518/drop_down_icon_2_rwwzog.png");
    background-size: 20px;
    background-position-y: 1px;

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}

.logInButton {
  margin: 5px 50px 5px 0;
  border: 0;
  padding: 5px 0;
  width: 100px;
  letter-spacing: 2px;
  font-weight: bold;
  height: 20px;
  color: black;
  background-color: white;
  border-radius: 3px;
  float: right;
  font-family: Roboto;

  &:hover {
    background: linear-gradient(0deg, $celest, $lightCelest);
    cursor: pointer;
  }
}

.hidden {
  visibility: hidden;
}

.dropdown {
  background-color: $darkGray;
  position: absolute;
  width: 140px;
  height: 70px;
  right: 0;
  border-radius: 8px;
  margin-top: 15px;
}

.headerList {
  display: flex;
  height: 50%;
}

.userProfile, .headerLogout {
  font-size: 12px;
  padding: 8px 0;
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: Roboto;

  &:hover {
    color: $celest;
    cursor: pointer;
  }
}

.headerLogout {
  border-top: 1px solid $lightGray;
}
