.playlist-modal-div {
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #000000 0%, #262626 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #000000 0%,#262626 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #000000 0%,#262626 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#262626',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  border: 1px solid $lightGray;
  border-radius: 10px;
  padding: 50px;
  height: 100%;
  box-sizing: border-box;

  .title-div {
    height: 50px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    color: $celest;
  }

  .playlist-modal-form {
    .input { border-top: 1px solid $lightGray; }

    .label {
      padding: 10px 0 5px 0;
      cursor: default;
      font-size: 12px;
      letter-spacing: 2px;
    }

    .title {
      height: 35px;
      width: 100%;
      padding: 0 10px;
      font-size: 12px;
      letter-spacing: 1px;
    }

    .description {
      height: 150px;
      width: 100%;
      padding: 10px;
      font-size: 12px;
      letter-spacing: 1px;
    }

    .img-url {
      height: 30px;
      width: 100%;
      padding: 0 10px;
      font-size: 12px;
      letter-spacing: 1px;
    }

    .submit {
      position: absolute;
      bottom: 40px;
      left: 110px;
      border: 0;
      border-radius: 3px;
      width: 240px;
      height: 35px;
      color: black;
      font-weight: bold;
      letter-spacing: 2px;
      background-color: $celest;
      border-radius: 3px;
      transition: font 0.3s;

      &:focus { outline: 0; }

      &:hover {
        background: linear-gradient(0deg, $celest, $lightCelest);
        cursor: pointer;
      }
    }
  }
}
