.profile {
  display: flex;
  height: 200px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  padding: 8%;
  background-image: url("http://res.cloudinary.com/kwokeric/image/upload/v1478217275/dark_gray_noise_i2buah.png");
  background-repeat: repeat;

  .picture {
    height: 200px;
    width: 200px;
    float: left;
    border: 2px solid white;
    border-radius: 50%;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    padding-left: 40px;
    float: left;
    color: white;
    font-size: 25px;
    letter-spacing: 5px;
  }
}
