.search-div {
  padding-top: 60px;
  max-width: 1200px;
  min-height: 70vh;
  width: 80%;
  margin: 60px auto 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;

  .empty-results {
    position: relative;
    top: 100px;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 5px;
  }
}

.search-item {
  width: 350px;
  height: 290px;
  margin: 10px;

  .search-thumbnail {
    width: 100%;
  }

  .item-info {
    background-image: url("http://res.cloudinary.com/kwokeric/image/upload/v1478217275/dark_gray_noise_i2buah.png");
    background-repeat: repeat;
    position: absolute;
    z-index: 5;
    bottom: 0;
    width: 100%;

    p.artist, p.song-title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: white;
      font-family: Roboto;
      font-size: 13px;
      letter-spacing: 2px;
    }

    p.artist {
      font-weight: 500;
      padding: 10px;
    }

    p.song-title {
      font-weight: 300;
      padding: 0 10px;
      height: 30px;
    }
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
