html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inhert;
}

button:focus { outline: 0; }
