.splash {
  width: 100%;
  height: 80vh;
  background-image: url("https://media.giphy.com/media/3oz8xToGhVF8wDIw80/giphy.gif");
  background-size: cover;

  .splashText {
    text-align: center;
    padding-top: 40vh;
    color: white;
  }
}
